<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:arg name="use_velocity_interface" default="false" />
<xacro:arg name="use_effort_interface" default="false" />

<xacro:macro name="create_arm_actuator" params="base_link">

  <link name="arm_actuator">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.1" ixy="0" ixz="0"
               iyy="0.1" iyz="0"
               izz="0.1" />
      <mass value="1" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
<!--        <cylinder length="0.8" radius="0.5"/>-->
	 <box size="1.1 1.1 1"/>
      </geometry>
      <material name="Grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
<!--        <cylinder length="0.8" radius="0.3"/>-->
	 <box size="1.26 1.26 1"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="arm_actuator">
    <material>Gazebo/Grey</material>
  </gazebo>

  <joint name="arm_actuator_joint" type="fixed">
    <origin xyz="0 0 0.5"/>
    <parent link="arm_actuator" />
    <child link="${base_link}" />
    <axis xyz="0 0 0" />
  </joint>

  <gazebo reference="arm_actuator_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <xacro:arm_actuator_transmission />

</xacro:macro>

<xacro:macro name="arm_actuator_transmission">

  <!-- if use_position_interface create PositionJointInterface based transmissions -->
  <xacro:unless value="$(arg use_velocity_interface)">
  <xacro:unless value="$(arg use_effort_interface)">
    <xacro:arm_actuator_transmission_impl joint_interface="PositionJointInterface" />
  </xacro:unless>
  </xacro:unless>
  <!-- if use_velocity_interface create VelocityJointInterface based transmissions -->
  <xacro:if value="$(arg use_velocity_interface)">
    <xacro:arm_actuator_transmission_impl joint_interface="VelocityJointInterface" />
  </xacro:if>
  <!-- if use_effort_interface create EffortJointInterface based transmissions -->
  <xacro:if value="$(arg use_effort_interface)">
    <xacro:arm_actuator_transmission_impl joint_interface="EffortJointInterface" />
  </xacro:if>

</xacro:macro>

<xacro:macro name="arm_actuator_transmission_impl" params="joint_interface">

  <transmission name="arm_actuator_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_actuator_joint">
      <hardwareInterface>${joint_interface}</hardwareInterface>
    </joint>
    <actuator name="arm_actuator_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</xacro:macro>

</robot>
